prototypes/großer_Prototyp/src/main/resources/schemas/railwayBaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<xs:schema xmlns:rail="http://www.railml.org/schemas/2009"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.railml.org/schemas/2009"
	elementFormDefault="qualified" version="2.0">

    <xs:annotation>
        <xs:documentation>
        Copyright (c) railML.org; All Rights Reserved. 

        This work is licensed under a Creative Commons Attribution 2.0 License. 
        http://creativecommons.org/licenses/by/2.0/

        For further information see: http://www.railml.org/

        Content of this file: 
        XML Schema for railML(R) 2.0 
        Definition of attribute groups, simple and complex types, 
        used by more than one sub schema
        </xs:documentation>
    </xs:annotation>

	<xs:include schemaLocation="genericRailML.xsd" />
	<xs:include schemaLocation="railwayUnits.xsd" />

    <!--*********************************************************-->
    <!--Time and time spans-->
    <!--*********************************************************-->

    <xs:complexType name="tTimeSpan">
        <xs:attribute name="from" type="xs:time" use="required" />
        <xs:attribute name="until" type="xs:time" use="required" />
    </xs:complexType>	
	
    <xs:attributeGroup name="aPeriodTimeSpan">
        <xs:attribute name="startTime" type="xs:time" />
        <xs:attribute name="endTime" type="xs:time" />
    </xs:attributeGroup>

    <xs:attributeGroup name="aTimePeriod">
        <xs:attribute name="startDate" type="xs:date" />
        <xs:attribute name="endDate" type="xs:date" />
    </xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Attributes for braking systems -->
	<!--*********************************************************-->

	<xs:complexType name="tBasicBrakeType">
		<xs:annotation>
			<xs:documentation>
				settings and characteristic of a particular brake
				type or brake application position
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="auxiliaryBrakes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>provides access to the list of possible 
					auxiliary brake systems</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="rail:aAuxiliaryBrakes" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="rail:aBasicBrakeAttributes" />
	</xs:complexType>

	<xs:attributeGroup name="aBasicBrakeAttributes">
		<xs:attribute name="brakeType" type="rail:tBrakeType" use="required">
			<xs:annotation>
				<xs:documentation>vacuum or compressed air brake, hand brake,
					parking brake, cable brake</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="airBrakeApplicationPosition" type="rail:tAirBrakeApplicationPosition"
			use="required">
			<xs:annotation>
				<xs:documentation>base brake switch, one of G, P or R
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="regularBrakeMass" type="rail:tWeightTons">
			<xs:annotation>
				<xs:documentation>brake mass for normal brake operations of
					none-automatic brakes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="emergencyBrakeMass" type="rail:tWeightTons">
			<xs:annotation>
				<xs:documentation>brake mass for emergency brake operations,
					differs from regular brake mass depending on auxiliary brakes
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxDeceleration" type="rail:tAccelerationMeterPerSquareSec">
			<xs:annotation>
				<xs:documentation>alternative specification of maximum
					possible momentary deceleration</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="meanDeceleration" type="rail:tAccelerationMeterPerSquareSec">
			<xs:annotation>
				<xs:documentation>alternative specification of effective mean 
				deceleration of a whole brake operation
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>	
	
	<!--*********************************************************-->
	<!-- Types of braking systems -->
	<!--*********************************************************-->

    <xs:simpleType name="tBrakeType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="none" />
                    <xs:enumeration value="compressedAir" />
                    <xs:enumeration value="vacuum" />
                    <xs:enumeration value="handBrake" />
                    <xs:enumeration value="parkingBrake" />
                    <xs:enumeration value="cableBrake" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="rail:tOtherEnumerationValue" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

	<!--*********************************************************-->
	<!-- Positions for air brake application -->
	<!-- G=goods, P=passenger, R=rapid -->
	<!--*********************************************************-->

	<xs:simpleType name="tAirBrakeApplicationPosition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N/A" />
			<xs:enumeration value="G" />
			<xs:enumeration value="P" />
			<xs:enumeration value="R" />
		</xs:restriction>
	</xs:simpleType>

	<!--*********************************************************-->
	<!-- Brake percentage as value of braking performance in relation to vehicle weight -->
	<!--*********************************************************-->
	
	<xs:simpleType name="tBrakePercentage">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="225"/>
			<xs:minInclusive value="6"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--*********************************************************-->
	<!-- Auxiliary brake systems -->
	<!--*********************************************************-->

	<xs:attributeGroup name="aAuxiliaryBrakes">
		<xs:attribute name="H" type="xs:boolean" />
		<xs:attribute name="E" type="xs:boolean" />
		<xs:attribute name="Mg" type="xs:boolean" />
		<xs:attribute name="Wb" type="xs:boolean" />
		<xs:attribute name="ep" type="xs:boolean" />
	</xs:attributeGroup>
	
	<!--*********************************************************-->
	<!-- Train Protection -->
	<!--*********************************************************-->

	<xs:simpleType name="tTrainProtectionMedium">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none" />
			<xs:enumeration value="mechanical" />
			<xs:enumeration value="inductive" />
			<xs:enumeration value="magnetic" />
			<xs:enumeration value="optical" />
			<xs:enumeration value="radio" />
			<xs:enumeration value="rail" />
			<xs:enumeration value="cable" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tTrainProtectionMonitoring">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none" />
			<xs:enumeration value="intermittent" />
			<xs:enumeration value="continuous" />
		</xs:restriction>
	</xs:simpleType>

    <!--*********************************************************-->
    <!-- Places in passenger cars -->
    <!--*********************************************************-->

    <xs:complexType name="tPlaces">
        <xs:annotation>
            <xs:documentation>
                description of any places of the passenger car(part)
            </xs:documentation>
        </xs:annotation>
        <xs:attributeGroup ref="rail:aPlaces" />
    </xs:complexType>

    <xs:attributeGroup name="aPlaces">
        <xs:attribute name="category" type="rail:tPlaceCategory" use="required" />
        <xs:attribute name="count" type="rail:tCounter" use="required" />
        <xs:attribute name="description" type="rail:tElementDescription" />
    </xs:attributeGroup>

    <xs:simpleType name="tPlaceCategory">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="class1" />
                    <xs:enumeration value="class2" />
                    <xs:enumeration value="class3" />
                    <xs:enumeration value="standing" />
                    <xs:enumeration value="wheelchair" />
                    <xs:enumeration value="bicycle" />
                    <xs:enumeration value="couchette" />
                    <xs:enumeration value="bed" />
                    <xs:enumeration value="chair" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="rail:tOtherEnumerationValue" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    
    <!--*********************************************************-->
    <!-- Service in passenger cars -->
    <!--*********************************************************-->

    <xs:complexType name="tService">
        <xs:annotation>
            <xs:documentation>
                description of any service provided by the passenger car(part)
            </xs:documentation>
        </xs:annotation>
        <xs:attributeGroup ref="rail:aService" />
    </xs:complexType>

    <xs:attributeGroup name="aService">
        <xs:attribute name="name" type="rail:tGenericName" use="required" />
        <xs:attribute name="count" type="rail:tCounter" use="required" />
        <xs:attribute name="description" type="rail:tElementDescription" />
        <xs:attribute name="value" type="xs:decimal" />
        <xs:attributeGroup ref="rail:anyAttribute" />
    </xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Type of national train protection/train control systems -->
	<!--*********************************************************-->

    <xs:simpleType name="tNationalSystemsType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ATB" />
                    <xs:enumeration value="ATC" />
                    <xs:enumeration value="AWS" />
                    <xs:enumeration value="ALSN" />
                    <xs:enumeration value="Crocodile" />
                    <xs:enumeration value="Memor" />
                    <xs:enumeration value="EVM120" />
                    <xs:enumeration value="EBICAB" />
                    <xs:enumeration value="SELCAB" />
                    <xs:enumeration value="ASFA" />
                    <xs:enumeration value="Indusi54" />
                    <xs:enumeration value="Indusi60R" />
                    <xs:enumeration value="PZ80" />
                    <xs:enumeration value="PZB90" />
                    <xs:enumeration value="Integra-Signum" />
                    <xs:enumeration value="KVB" />
                    <xs:enumeration value="LS90" />
                    <xs:enumeration value="LZB" />
                    <xs:enumeration value="CIR-ELKE" />
                    <xs:enumeration value="Mirel" />
                    <xs:enumeration value="SHP" />
                    <xs:enumeration value="RS4c" />
                    <xs:enumeration value="SCMT" />
                    <xs:enumeration value="SSC" />
                    <xs:enumeration value="TBL" />
                    <xs:enumeration value="TVM300" />
                    <xs:enumeration value="TVM430" />
                    <xs:enumeration value="TPWS" />
                    <xs:enumeration value="ZUB121" />
                    <xs:enumeration value="ZUB122" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="rail:tOtherEnumerationValue" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    
</xs:schema>
