app/src/main/resources/schemas/rollingstockTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<xs:schema xmlns:rail="http://www.railml.org/schemas/2009"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
	xmlns:mml="http://www.w3.org/1998/Math/MathML"
	targetNamespace="http://www.railml.org/schemas/2009"
	elementFormDefault="qualified" version="2.0">

    <xs:annotation>
        <xs:documentation>
        Copyright (c) railML.org; All Rights Reserved. 

        This work is licensed under a Creative Commons Attribution 2.0 License. 
        http://creativecommons.org/licenses/by/2.0/

        For further information see: http://www.railml.org/

        Content of this file: 
        XML Schema for railML(R) 2.0 
        Definition of attribute groups, simple and complex types, 
        used by rollingstock sub schema (RS)
        </xs:documentation>
    </xs:annotation>

	<xs:include schemaLocation="railwayUnits.xsd" />
	<xs:include schemaLocation="railwayBaseTypes.xsd" />
	
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="http://www.w3.org/2001/03/xml.xsd" />  

	<!--*********************************************************-->
	<!-- Support for MathML2 -->
	<!--*********************************************************-->

	<xs:import namespace="http://www.w3.org/1998/Math/MathML"
		schemaLocation="mathml2.xsd" />

	<!--*********************************************************-->
	<!-- Rollingstock itself -->
	<!--*********************************************************-->

	<xs:complexType name="tRollingstock">
		<xs:annotation>
			<xs:documentation>
				rolling stock data root
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tGlobalElementWithMetadata">
				<xs:attributeGroup ref="rail:aRollingstock" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:attributeGroup name="aRollingstock">
		<xs:attribute name="timetableRef" type="rail:tGenericRef">
			<xs:annotation>
				<xs:documentation>
					identifier for status of related timetable data as
					reference
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="infrastructureRef" type="rail:tGenericRef">
			<xs:annotation>
				<xs:documentation>
					identifier for status of related infrastructure data
					as reference
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Vehicle -->
	<!--*********************************************************-->

	<xs:complexType name="tVehicle">
		<xs:annotation>
			<xs:documentation>vehicle related data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tElementWithIDAndName">
				<xs:attributeGroup ref="rail:aVehicle" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:attributeGroup name="aVehicle">
		<xs:attribute name="vehicleFamilyRef" type="rail:tGenericRef">
			<xs:annotation>
				<xs:documentation>
					reference to 'id' in vehicle data in order to obtain
					all data common for the vehicle family not explicitly 
					specified in this element of an individual vehicle
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="axleSequence" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					description of axle sequence
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberDrivenAxles" type="rail:tCounter">
			<xs:annotation>
				<xs:documentation>
					the number of motored axles used for traction
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberNonDrivenAxles" type="rail:tCounter">
			<xs:annotation>
				<xs:documentation>
					the number of axles not used for traction (without
					motor or gear)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="trackGauge" type="rail:tLengthM">
			<xs:annotation>
				<xs:documentation>
					the track guage in metres the vehicles is mainly
					used for
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="length" type="rail:tLengthM" use="required">
			<xs:annotation>
				<xs:documentation>
					vehicle length in metres
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="speed" type="rail:tSpeedKmPerHour" use="required">
			<xs:annotation>
				<xs:documentation>
					maximum allowed vehicle speed in km/h
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bruttoWeight" type="rail:tWeightTons"
			use="required">
			<xs:annotation>
				<xs:documentation>
					total weight of vehicle with full payload in metric
					tons
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nettoWeight" type="rail:tWeightTons">
			<xs:annotation>
				<xs:documentation>
					tare weight of vehicle (empty) in metric tons
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bruttoAdhesionWeight" type="rail:tWeightTons">
			<xs:annotation>
				<xs:documentation>
					portion of total vehicle weight on motored axles in
					metric tons (adhesion weight)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nettoAdhesionWeight" type="rail:tWeightTons">
			<xs:annotation>
				<xs:documentation>
					portion of tare vehicle weight on motored axles in
					metric tons (adhesion weight)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="resistanceFactor" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>
					running resistance of vehicle in N/kN (to be used in
					conjungtion with 'trainResistance' element
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Manufacturer -->
	<!--*********************************************************-->

	<xs:complexType name="tManufacturer">
		<xs:annotation>
			<xs:documentation>
				container for descriptive data of the vehicle
				manufacturer
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aManufacturer" />
	</xs:complexType>

	<xs:attributeGroup name="aManufacturer">
		<xs:attribute name="manufacturerName" type="rail:tGenericName"
			use="required">
			<xs:annotation>
				<xs:documentation>
					name of manufacturer
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="manufacturerType"
			type="rail:tElementDescription" use="required">
			<xs:annotation>
				<xs:documentation>
					type description of manufacturer
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="serialNumber" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					serial number from manufacturer for the particular
					vehicle
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Operator -->
	<!--*********************************************************-->

	<xs:complexType name="tOperator">
		<xs:annotation>
			<xs:documentation>
				container for descriptive data of the vehicle operator
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aOperator" />
		<xs:attributeGroup ref="rail:aTimePeriod" />
	</xs:complexType>

	<xs:attributeGroup name="aOperator">
		<xs:attribute name="operatorName" type="rail:tGenericName"
			use="required">
			<xs:annotation>
				<xs:documentation>
					name of vehicle operator
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="operatorClass" type="xs:string"
			use="required">
			<xs:annotation>
				<xs:documentation>
					vehicle class description of operator or complete
					identifier number in case of particular vehicle
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Propulsion -->
	<!--*********************************************************-->

	<xs:complexType name="tPropulsion">
		<xs:annotation>
			<xs:documentation>
				technical data about the propulsion system of a vehicle
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aElectrificationSystem">
			<xs:annotation>
				<xs:documentation>
					type of power supply system for electric vehicles
					(voltage + frequency)
				</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="rail:aPropulsion" />
	</xs:complexType>

	<xs:attributeGroup name="aPropulsion">
		<xs:attribute name="power" type="rail:tPowerWatt" use="required">
			<xs:annotation>
				<xs:documentation>
					installed power of propulsuion system per vehicle in
					Watt
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="powerType" type="rail:tMotivePowerType"
			use="required">
			<xs:annotation>
				<xs:documentation>
					type of power for propulsuion system in the vehicle
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="transmission" type="rail:tTransmission"
			use="required">
			<xs:annotation>
				<xs:documentation>
					type of transmission system in vehicle (mainly for
					diesel cars)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxTractEffort" type="rail:tEffortNewton">
			<xs:annotation>
				<xs:documentation>
					maximum tractive effort per vehicle in Newton (to be
					used in conjunction with 'tractiveEffort' element)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rotationMassFactor" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>
					factor for increased running resistance by rotating
					masses of propulsion system
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rackTraction" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>
					flag, whether the vehicle comprises equipment for
					use on rack railways
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="remoteControl" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>
					flag, whether the vehicle can be remotely controlled
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberNotches" type="rail:tCounter">
			<xs:annotation>
				<xs:documentation>
					number of notches of propulsion system switch gear
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="wheelDiameter" type="rail:tLengthM">
			<xs:annotation>
				<xs:documentation>
					nominal diameter of driven wheels in m
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxBrakeEffort" type="rail:tEffortNewton">
			<xs:annotation>
				<xs:documentation>
					maximum braking effort of propulsion system per
					vehicle in N (to be used in conjunction with
					'brakeEffort' element)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxBrakePower" type="rail:tPowerWatt">
			<xs:annotation>
				<xs:documentation>
					maximum braking power in W for regenerative braking
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="totalTractEfficiency" type="rail:tOneToZero">
			<xs:annotation>
				<xs:documentation>
					the average efficiency of the entire propulsion
					system in traction mode
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="totalBrakeEfficiency" type="rail:tOneToZero">
			<xs:annotation>
				<xs:documentation>
					the average efficiency of the entire propulsion
					system in braking mode
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tractionOffUndervoltageThreshold"
			type="rail:tVoltageVolt">
			<xs:annotation>
				<xs:documentation>
					undervoltage threshold to switch off tration power
					in case net voltage out of limit
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zeroSpeedCurrentLimitation" type="rail:tCurrentAmpere">
			<xs:annotation>
				<xs:documentation>current limitation in Amps at zero speed</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxRegenerativeVoltage" type="rail:tVoltageVolt">
			<xs:annotation>
				<xs:documentation>maximum voltage in Volts for regenerative braking</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- ElectrificationSystem -->
	<!-- Information on electrification system as values (not enumeration)!!-->
	<!-- for DC the frequency shall be set to Zero -->
	<!--*********************************************************-->

	<xs:attributeGroup name="aElectrificationSystem">
		<xs:annotation>
			<xs:documentation>
				nominal values (voltage + frequency) of electrification
				system
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="voltage" type="rail:tVoltageVolt" />
		<xs:attribute name="frequency" type="rail:tFrequencyHertz" />
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Type of Motive Power -->
	<!--*********************************************************-->

    <xs:simpleType name="tMotivePowerType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="electric" />
                    <xs:enumeration value="diesel" />
                    <xs:enumeration value="steam" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="rail:tOtherEnumerationValue" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

	<!--*********************************************************-->
	<!-- Type of Transmission System -->
	<!--*********************************************************-->

    <xs:simpleType name="tTransmission">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="electric" />
                    <xs:enumeration value="hydraulic" />
                    <xs:enumeration value="mechanical" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="rail:tOtherEnumerationValue" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

	<!--*********************************************************-->
	<!-- Type of Radio Modulation -->
	<!--*********************************************************-->

    <xs:simpleType name="tModulationType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="analogue" />
                    <xs:enumeration value="digital" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="rail:tOtherEnumerationValue" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

	<!--*********************************************************-->
	<!-- MonitoringSystem -->
	<!--*********************************************************-->

	<xs:complexType name="tMonitoring">
		<xs:annotation>
			<xs:documentation>
				types of signalling systems fitted to the vehicle
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>

	<xs:attributeGroup name="aMonitoringGeneric">
		<xs:attribute name="onBoardUnitID" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					identification of the on-board unit used for addressing within communication
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="softwareVersion" type="rail:tVersionNumber">
			<xs:annotation>
				<xs:documentation>
					version of installed software of the system
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- ETCS -->
	<!--*********************************************************-->

	<xs:complexType name="tETCS">
		<xs:annotation>
			<xs:documentation>
				container for installed capabilities with respect to
				ETCS
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tElementWithIDAndName">
				<xs:attributeGroup ref="rail:aMonitoringGeneric" />
				<xs:attributeGroup ref="rail:aETCS" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:attributeGroup name="aETCS">
		<xs:attribute name="srsVersion" type="rail:tVersionNumber">
			<xs:annotation>
				<xs:documentation>
					Version of ETCS language (SRS edition) installed
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level_0" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>
					on-board unit supports level 0
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level_1" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>
					on-board unit supports level 1
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level_2" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>
					on-board unit supports level 2
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="level_3" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>
					on-board unit supports level 3
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Special Transmission Modules -->
	<!--*********************************************************-->

	<xs:complexType name="tSpecificTransmissionModule">
		<xs:annotation>
			<xs:documentation>
				container for installed special transmission modules
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tElementWithIDAndName">
				<xs:attributeGroup ref="rail:aMonitoringGeneric" />
				<xs:attributeGroup ref="rail:aSpecificTransmissionModule" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:attributeGroup name="aSpecificTransmissionModule">
		<xs:attribute name="nationalSystemRef" type="rail:tGenericRef" />
	</xs:attributeGroup>
	
	<!--*********************************************************-->
	<!-- Train Radio -->
	<!--*********************************************************-->

	<xs:complexType name="tTrainRadio">
		<xs:annotation>
			<xs:documentation>
				container for installed train radio systems
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tElementWithIDAndName">
				<xs:attributeGroup ref="rail:aMonitoringGeneric" />
				<xs:attributeGroup ref="rail:aTrainRadio" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:attributeGroup name="aTrainRadio">
		<xs:attribute name="modulation" type="rail:tModulationType" />
	</xs:attributeGroup>

	<xs:simpleType name="tRadioSystem">
		<xs:annotation>
			<xs:documentation>
				list of available radio systems for communication like 'GSM-R'
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="rail:tGenericName" />
	</xs:simpleType>
	
	<!--*********************************************************-->
	<!-- other (non-safety) Train Equipment -->
	<!--*********************************************************-->

	<xs:complexType name="tOtherEquipment">
		<xs:annotation>
			<xs:documentation>
				container for other installed train equipment
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tElementWithIDAndName">
				<xs:attributeGroup ref="rail:aMonitoringGeneric" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!--*********************************************************-->
	<!-- Transformer -->
	<!--*********************************************************-->

	<xs:complexType name="tTransformer">
		<xs:annotation>
			<xs:documentation>
				technical data of main transformer
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aAssemblyNameNumber">
			<xs:annotation>
				<xs:documentation>
					number of transformers per vehicle and their type
					description
				</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="rail:aTransformer" />
	</xs:complexType>

	<xs:attributeGroup name="aTransformer">
		<xs:attribute name="ferrumResistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					resistance of iron core of one transformer in Ohms
					(open-circuit core loss)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="additionalResistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					additional resistance of one transformer in Ohms due
					to non-sinusoid currents (stray loss)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mainInductance" type="rail:tInductanceHenry">
			<xs:annotation>
				<xs:documentation>
					main inductance of one transformer in H
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="meanEfficiency" type="rail:tOneToZero">
			<xs:annotation>
				<xs:documentation>
					The transformer mean efficiency in the range 0..1.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Winding -->
	<!--*********************************************************-->

	<xs:complexType name="tWinding">
		<xs:annotation>
			<xs:documentation>
				technical data of transformer winding
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aWinding" />
	</xs:complexType>

	<xs:attributeGroup name="aWinding">
		<xs:attribute name="assemblyName" type="rail:tGenericName"
			use="required">
			<xs:annotation>
				<xs:documentation>
					type of transformer winding as descriptive name
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalVoltage" type="rail:tVoltageVolt">
			<xs:annotation>
				<xs:documentation>
					nominal voltage of transformer winding (primary
					side) in Volts
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalCurrent" type="rail:tCurrentAmpere">
			<xs:annotation>
				<xs:documentation>
					nominal current of transformer winding (primary
					side) in Amps
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="transformationRatio" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>
					transformation ratio of transformer winding
					(primary/secondary voltage)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="primaryResistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					resistance of primary winding of one transformer in
					Ohms
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="secondaryResistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					resistance of secondary winding of one transformer 
					in Ohms transformed to primary side
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="primaryLeakageInductance"
			type="rail:tInductanceHenry">
			<xs:annotation>
				<xs:documentation>
					leakage inductance of primary winding of one
					transformer in H
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="secondaryLeakageInductance"
			type="rail:tInductanceHenry">
			<xs:annotation>
				<xs:documentation>
					leakage inductance of secondary winding of one
					transformer in H transformed to primary side
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- four-Quadrant-Chopper -->
	<!--*********************************************************-->

	<xs:complexType name="tFourQuadrantChopper">
		<xs:annotation>
			<xs:documentation>
				technical data of inverter between OHL/transformer and
				link circuit
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aAssemblyNameNumber">
			<xs:annotation>
				<xs:documentation>
					number of four-quadrant choppers installed per
					vehicle and their type description
				</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="rail:aFourQuadrantChopper" />
	</xs:complexType>

	<xs:attributeGroup name="aFourQuadrantChopper">
		<xs:attribute name="meanPhi" type="rail:tAngleDegFullCircle">
			<xs:annotation>
				<xs:documentation>
					average phase angle phi of
					four-quadrant-chopper
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="meanEfficiency" type="rail:tOneToZero">
			<xs:annotation>
				<xs:documentation>
					The four quadrant chopper mean efficiency in the
					range 0..1.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Link circuit -->
	<!--*********************************************************-->

	<xs:complexType name="tLink">
		<xs:attributeGroup ref="rail:aNominalElectrical" />
	</xs:complexType>

	<xs:attributeGroup name="aNominalElectrical">
		<xs:annotation>
			<xs:documentation>
				nominal values (voltage + current) of an electrical
				circuit
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="nominalVoltage" type="rail:tVoltageVolt"
			use="required">
			<xs:annotation>
				<xs:documentation>
					nominal voltage of circuit in Volts
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalCurrent" type="rail:tCurrentAmpere"
			use="required">
			<xs:annotation>
				<xs:documentation>
					nominal current of circuit in Amps
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- TractionInverter -->
	<!--*********************************************************-->

	<xs:complexType name="tTractionInverter">
		<xs:annotation>
			<xs:documentation>
				technical data of inverter between link circuit and
				motors
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aAssemblyNameNumber">
			<xs:annotation>
				<xs:documentation>
					number of traction inverters installed per vehicle
					and their type description
				</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="rail:aTractionInverter" />
	</xs:complexType>

	<xs:attributeGroup name="aTractionInverter">
		<xs:attribute name="meanEfficiency" type="rail:tOneToZero">
			<xs:annotation>
				<xs:documentation>
					The traction inverter mean efficiency in the range
					0..1.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- TractionMotor -->
	<!--*********************************************************-->

	<xs:complexType name="tTractionMotor">
		<xs:annotation>
			<xs:documentation>
				technical data of traction motor
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aAssemblyNameNumber">
			<xs:annotation>
				<xs:documentation>
					number of traction motors per vehicle and their type
					description
				</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="rail:aTractionMotor" />
	</xs:complexType>

	<xs:attributeGroup name="aTractionMotor">
		<xs:attribute name="nominalPower" type="rail:tPowerWatt">
			<xs:annotation>
				<xs:documentation>
					rated power consumption of one traction motor in
					Watt
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalVoltage" type="rail:tVoltageVolt">
			<xs:annotation>
				<xs:documentation>
					rated voltage of traction motor in Volts
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalCurrent" type="rail:tCurrentAmpere">
			<xs:annotation>
				<xs:documentation>
					rated current of one traction motor in Amps
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalFrequency" type="rail:tFrequency">
			<xs:annotation>
				<xs:documentation>
					rated frequency of traction motor windings in Hz
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalFlux" type="rail:tFluxVoltSecond">
			<xs:annotation>
				<xs:documentation>
					nominal flux of one traction motor in Volt*sec
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalPhi" type="rail:tAngleDegFullCircle">
			<xs:annotation>
				<xs:documentation>
					nominal phase angle phi of traction motor in the range -180..+180
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="numberPolePairs" type="rail:tCounter">
			<xs:annotation>
				<xs:documentation>
					number of pole pairs of one traction motor
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="statorResistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					resistance of stator winding of one traction motor
					in Ohms
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rotorResistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					resistance of rotor winding of one traction motor in
					Ohms
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ferrumResistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					resistance of iron core of one traction motor in
					Ohms (open-circuit core loss)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="additionalResistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					additional resistance of one traction motor in Ohms
					due to non-sinusoid currents (stray loss)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="mainInductance" type="rail:tInductanceHenry">
			<xs:annotation>
				<xs:documentation>
					main inductance of one traction motor in H
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="statorLeakageInductance"
			type="rail:tInductanceHenry">
			<xs:annotation>
				<xs:documentation>
					leakage inductance of stator winding of one traction
					motor in H
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rotorLeakageInductance"
			type="rail:tInductanceHenry">
			<xs:annotation>
				<xs:documentation>
					leakage inductance of rotor winding of one traction
					motor in H
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nominalRevolutions" type="rail:tRotationalFrequencyRevolutionsPerMinute">
			<xs:annotation>
				<xs:documentation>
					nominal number of revolutions in revolutions per
					minute (rpm)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="meanEfficiency" type="rail:tOneToZero">
			<xs:annotation>
				<xs:documentation>
					The traction motor mean efficiency in the range
					0..1.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- DieselMotor -->
	<!--*********************************************************-->

	<xs:complexType name="tDieselEngine">
		<xs:annotation>
			<xs:documentation>
				technical data of diesel engine
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aAssemblyNameNumber">
			<xs:annotation>
				<xs:documentation>
					number of diesel engines per vehicle and their type
					description (for traction)
				</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="rail:aDieselEngine" />
	</xs:complexType>

	<xs:attributeGroup name="aDieselEngine">
		<xs:attribute name="nominalPower" type="rail:tPowerWatt">
			<xs:annotation>
				<xs:documentation>
					nominal power per diesel engine in Watt
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fuelCapacity" type="rail:tVolumeLitre">
			<xs:annotation>
				<xs:documentation>
					fuel capacity of the entire diesel tank in liters
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="meanEfficiency" type="rail:tOneToZero">
			<xs:annotation>
				<xs:documentation>
					average efficiency of the diesel engine in the range
					0..1
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Gear -->
	<!--*********************************************************-->

	<xs:complexType name="tGear">
		<xs:annotation>
			<xs:documentation>
				technical data of transmission system between motor and
				wheel
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aAssemblyNameNumber">
			<xs:annotation>
				<xs:documentation>
					number of gear assemblies per vehicle and their type
					description
				</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="rail:aGear" />
	</xs:complexType>

	<xs:attributeGroup name="aGear">
		<xs:attribute name="gearRatio" type="xs:decimal" use="required">
			<xs:annotation>
				<xs:documentation>
					gear ratio as decimal value
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="meanEfficiency" type="rail:tOneToZero">
			<xs:annotation>
				<xs:documentation>
					The gear mean efficiency in the range 0..1.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Auxiliary supply-->
	<!--*********************************************************-->

	<xs:complexType name="tAuxiliarySupply">
		<xs:attributeGroup ref="rail:aAuxiliarySupply" />
	</xs:complexType>

	<xs:attributeGroup name="aAuxiliarySupply">
		<xs:attribute name="power" type="rail:tPowerWatt"
			use="required">
			<xs:annotation>
				<xs:documentation>
					power consumption of constant load by auxiliary equipment in
					Watt (permanent)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="powerPhi" type="rail:tAngleDegFullCircle">
			<xs:annotation>
				<xs:documentation>
					phase angle phi of constant power of auxiliary load between
					-180..+180
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="resistance" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					resistance of constant load by auxiliary equipment in Ohm
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="powerBraking" type="rail:tPowerWatt">
			<xs:annotation>
				<xs:documentation>
					power consumption of constant load by auxiliary equipment in
					Watt (only during braking mode)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="powerPhiBraking" type="rail:tAngleDegFullCircle">
			<xs:annotation>
				<xs:documentation>
					phase angle phi of constant power of auxiliary load between
					-180..+180 (only during braking mode)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="resistanceBraking" type="rail:tResistanceOhm">
			<xs:annotation>
				<xs:documentation>
					resistance of constant load by auxiliary equipment in Ohm
					(only during braking mode)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- National System of Train Protection/Train Control -->
	<!--*********************************************************-->

	<xs:complexType name="tNationalSystem">
		<xs:annotation>
			<xs:documentation>
				description of installed national train protection/monitoring systems like PZB, CIR-ELKE, TVM, LEA, ...
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tElementWithIDAndName">
				<xs:attributeGroup ref="rail:aMonitoringGeneric" />
				<xs:attributeGroup ref="rail:aMonitoringSystem" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:attributeGroup name="aMonitoringSystem">
		<xs:attribute name="type" type="rail:tNationalSystemsType" use="required">
			<xs:annotation>
				<xs:documentation>
					type of national system as enumeration
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="trainProtectionMedium" type="rail:tTrainProtectionMedium"
			use="required">
			<xs:annotation>
				<xs:documentation>
					type of transmission medium for the train protection system
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="trainProtectionMonitoring" type="rail:tTrainProtectionMonitoring"
			use="required">
			<xs:annotation>
				<xs:documentation>
					way of information transmission between lineside and trainborne equipment
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Wagon-->
	<!--*********************************************************-->

	<xs:complexType name="tWagon">
		<xs:annotation>
			<xs:documentation>
				technical and payload data about a car
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aWagon" />
	</xs:complexType>

	<xs:attributeGroup name="aWagon">
		<xs:attribute name="rotationMassFactor" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>
					factor for increased running resistance by rotating
					masses of non-motored axles
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="kinematicEnvelope"
			type="rail:tElementDescription">
			<xs:annotation>
				<xs:documentation>
					name of car body kinematic envelope as reference
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="auxiliaryPowerConsumption" type="rail:tPowerWatt">
			<xs:annotation>
				<xs:documentation>
					continuous power consumption in Watt of auxiliaries
					within one car
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Passenger -->
	<!--*********************************************************-->

	<xs:complexType name="tPassenger">
		<xs:annotation>
			<xs:documentation>
				data for passenger cars
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aPassenger" />
	</xs:complexType>

	<xs:attributeGroup name="aPassenger">
		<xs:attribute name="deck" type="rail:tVerbalCounter">
			<xs:annotation>
				<xs:documentation>
					number of decks per vehicle
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="drivingCab" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>
					flag, whether the vehicle comprises driving cab
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tilting" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>
					flag, whether the vehicle comprises tilting
					capabilities
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Gangway -->
	<!--*********************************************************-->

	<xs:complexType name="tGangway">
		<xs:annotation>
			<xs:documentation>
				description of any gangways of the passenger car to other cars
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aGangway" />
	</xs:complexType>

	<xs:attributeGroup name="aGangway">
		<xs:attribute name="frontEnd" type="xs:boolean" use="required" />
		<xs:attribute name="rearEnd" type="xs:boolean" use="required" />
		<xs:attribute name="position" type="rail:tGangwayPosition" use="required" />
	</xs:attributeGroup>

    <xs:simpleType name="tGangwayPosition">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="standardUIC" />
                    <xs:enumeration value="upperDeck" />
                    <xs:enumeration value="lowerDeck" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="rail:tOtherEnumerationValue" />
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

	<!--*********************************************************-->
	<!-- Goods -->
	<!--*********************************************************-->

	<xs:complexType name="tGoods">
		<xs:annotation>
			<xs:documentation>data for freight cars</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aGoods" />
	</xs:complexType>

	<xs:attributeGroup name="aGoods">
		<xs:attribute name="load" type="rail:tWeightTons">
			<xs:annotation>
				<xs:documentation>
					maximum paylod per wagon in metric tons
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="volume" type="rail:tVolumeCubicMeter">
			<xs:annotation>
				<xs:documentation>
					available volume for payload per vehicle
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="freightCarType" type="rail:tFreightCarType">
			<xs:annotation>
				<xs:documentation>
					classification of goods vehicle
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	
	<xs:simpleType name="tFreightCarType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="open" />
			<xs:enumeration value="covered" />
			<xs:enumeration value="platform" />
			<xs:enumeration value="refrigerated" />
			<xs:enumeration value="tank" />
			<xs:enumeration value="self-discharging" />
			<xs:enumeration value="special" />
		</xs:restriction>
	</xs:simpleType>

	<!--*********************************************************-->
	<!-- Vehicle Brakes -->
	<!--*********************************************************-->

	<xs:attributeGroup name="aVehicleBrake">
		<xs:attribute name="loadSwitch" type="rail:tLoadSwitch">
			<xs:annotation>
				<xs:documentation>for waggons with "full" / "empty" switch</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="autoBrakePercentage" type="rail:tBrakePercentage">
			<xs:annotation>
				<xs:documentation>automatically regulated brake percentages 
				depending on actual load of vehicle</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxAutoBrakeMass" type="rail:tWeightTons">
			<xs:annotation>
				<xs:documentation>maximum brake mass of autimatic brake</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	
	<!--*********************************************************-->
	<!-- Positions of load switch for brake system -->
	<!--*********************************************************-->

	<xs:simpleType name="tLoadSwitch">
		<xs:restriction base="xs:string">
			<xs:enumeration value="empty" />
			<xs:enumeration value="full" />
		</xs:restriction>
	</xs:simpleType>

	<!--*********************************************************-->
	<!-- Eddy current brake -->
	<!--*********************************************************-->

	<xs:complexType name="tEddyCurrentBrake">
		<xs:annotation>
			<xs:documentation>
				technical data of eddy current brake
			</xs:documentation>
		</xs:annotation>
		<xs:attributeGroup ref="rail:aEddyCurrentBrake" />
	</xs:complexType>

	<xs:attributeGroup name="aEddyCurrentBrake">
		<xs:attribute name="maxPower" type="rail:tPowerWatt"
			use="required">
			<xs:annotation>
				<xs:documentation>
					maximal power consumption in Watt
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="maxEffort" type="rail:tEffortNewton"
			use="required">
			<xs:annotation>
				<xs:documentation>
					maximal brakeing effort achived in Newton
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="minSpeed" type="rail:tSpeedKmPerHour" use="required">
			<xs:annotation>
				<xs:documentation>
					minimum speed for use of eddy current brake in km/h
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Train Composition -->
	<!--*********************************************************-->

	<xs:complexType name="tFormation">
		<xs:annotation>
			<xs:documentation>
				data for a single train formation made of rs-vehicles
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tElementWithIDAndName">
				<xs:attributeGroup ref="rail:aFormation" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:attributeGroup name="aFormation">
		<xs:attribute name="formationCount" type="rail:tCounter">
			<xs:annotation>
				<xs:documentation>
					number of similar formations forming that train
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="length" type="rail:tLengthM">
			<xs:annotation>
				<xs:documentation>
					entire length of the formation (shall be in
					accordance with the sum of single vehicles)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="speed" type="rail:tSpeedKmPerHour">
			<xs:annotation>
				<xs:documentation>
					allowed maximum speed for the entire formation
					(shall be in accordance with single vehicle speed
					values)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="weight" type="rail:tWeightTons">
			<xs:annotation>
				<xs:documentation>
					weight in metrical tons of the entire formation
					(shall be in accordance with the sum of single
					vehicles)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Vehicle reference -->
	<!--*********************************************************-->

	<xs:complexType name="tVehicleRef">
		<xs:attributeGroup ref="rail:aVehicleRef" />
	</xs:complexType>

	<xs:attributeGroup name="aVehicleRef">
		<xs:attribute name="orderNumber" type="xs:positiveInteger"
			use="required">
			<xs:annotation>
				<xs:documentation>
					position of that vehicle (group) in the formation
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="vehicleRef" type="rail:tGenericRef"
			use="required">
			<xs:annotation>
				<xs:documentation>
					vehicle type as reference
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="vehicleCount" type="rail:tCounter">
			<xs:annotation>
				<xs:documentation>
					number of consecutive vehicles of that type in the
					formation
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="frontGangway" type="xs:boolean" />
		<xs:attribute name="rearGangway" type="xs:boolean" />
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Train engine data for the entire formation -->
	<!--*********************************************************-->

	<xs:complexType name="tTrainEngine">
		<xs:attributeGroup ref="rail:aTrainEngine" />
	</xs:complexType>

	<xs:attributeGroup name="aTrainEngine">
		<xs:attribute name="trainMeanAcceleration"
			type="rail:tAccelerationMeterPerSquareSec">
			<xs:annotation>
				<xs:documentation>
					formation whole mean acceleration in m/s^2
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="trainMaxAcceleration"
			type="rail:tAccelerationMeterPerSquareSec">
			<xs:annotation>
				<xs:documentation>
					formation whole maximum acceleration in m/s^2
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- Train resistance -->
	<!--*********************************************************-->

	<xs:complexType name="tTrainResistance">
		<xs:annotation>
			<xs:documentation>
				mechanical train resistance vs. speed
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tCurve">
				<xs:attribute name="tunnelFactor" type="xs:decimal">
					<xs:annotation>
						<xs:documentation>
							factor for increasing air resistance when
							running through tunnel
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--*********************************************************-->
	<!-- general attribute groups -->
	<!--*********************************************************-->

	<xs:attributeGroup name="aAssemblyNameNumber">
		<xs:attribute name="count" type="rail:tCounter" use="required">
			<xs:annotation>
				<xs:documentation>
					number of assemblies per vehicle/unit
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assemblyName" type="rail:tGenericName"
			use="required">
			<xs:annotation>
				<xs:documentation>
					type of assembly as descriptive name
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>

	<!--*********************************************************-->
	<!-- LossesCurve -->
	<!--*********************************************************-->

	<xs:complexType name="tLosses">
		<xs:annotation>
			<xs:documentation>
				losses curve vs. speed, for use with mechanical and
				electrical systems
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tCurve" />
		</xs:complexContent>
	</xs:complexType>

	<!--*********************************************************-->
	<!-- EffortCurve -->
	<!--*********************************************************-->

	<xs:complexType name="tEffortCurve">
		<xs:annotation>
			<xs:documentation>
				effort curve vs. speed, for use with traction and
				braking
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tCurve" />
		</xs:complexContent>
	</xs:complexType>

	<!--*********************************************************-->
	<!-- Vehicle CurrentCurve -->
	<!--*********************************************************-->

	<xs:complexType name="tCurrentCurve">
		<xs:annotation>
			<xs:documentation>
				vehicle current curve vs. speed, for use with traction
				and braking
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tCurve" />
		</xs:complexContent>
	</xs:complexType>

	<!--*********************************************************-->
	<!-- Vehicle NetCurrentLimitationCurve -->
	<!--*********************************************************-->

	<xs:complexType name="tCurrentLimitation">
		<xs:annotation>
			<xs:documentation>
				net current limitation curve vs. net voltage, for use
				with traction and braking
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tCurve" />
		</xs:complexContent>
	</xs:complexType>

	<!--*********************************************************-->
	<!-- EfficiencyCurve -->
	<!--*********************************************************-->

	<xs:complexType name="tEfficiencyCurve">
		<xs:annotation>
			<xs:documentation>
				subsystem efficiency curve vs. speed
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rail:tCurve" />
		</xs:complexContent>
	</xs:complexType>

	<!--*********************************************************-->
	<!--  generic Curve -->
	<!--*********************************************************-->

	<xs:complexType name="tCurve">
		<xs:annotation>
			<xs:documentation>
				generic curve of function y=f(x,z)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="mml:math" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						function definition vs. arbitrary variable in
						MathML format
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valueTable" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						table of values vs. arbitrary variable
						representing function y=f(x,z)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="rail:tValueTable" />
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--*********************************************************-->
	<!-- ValueTable -->
	<!--*********************************************************-->

	<xs:complexType name="tValueTable">
		<xs:annotation>
			<xs:documentation>
				table of values vs. arbitrary x-variable
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="columnHeader" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						List of Names to explain meaning of values
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="zValue" type="xs:decimal"
						use="required">
						<xs:annotation>
							<xs:documentation>
								z-value itself as parameter in the value
								table
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="valueLine" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						set of values related to an x-value (one table
						line)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="values"
							maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									the values related to an x-value
									themselves
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute name="yValue"
									type="xs:decimal" use="required">
									<xs:annotation>
										<xs:documentation>
											value of ordinate (y-axis)
											for this line (row)
										</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="xValue" type="xs:decimal"
						use="required">
						<xs:annotation>
							<xs:documentation>
								values of abscissa (x-axis) for this
								line (row)
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="xValueName" type="rail:tElementDescription"
			use="required">
			<xs:annotation>
				<xs:documentation>
					descriptive name for values of abscissa (x-axis)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="xValueUnit" type="rail:tUnitName"
			use="required">
			<xs:annotation>
				<xs:documentation>
					physical unit for values of abscissa (x-axis)
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yValueName" type="rail:tElementDescription"
			use="required">
			<xs:annotation>
				<xs:documentation>
					descriptive name of y-values in that column
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="yValueUnit" type="rail:tUnitName"
			use="required">
			<xs:annotation>
				<xs:documentation>
					physical unit of the valuesin element "values"
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zValueName" type="rail:tElementDescription">
			<xs:annotation>
				<xs:documentation>
					descriptive name of z-value used as parameter in the
					value table
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="zValueUnit" type="rail:tUnitName">
			<xs:annotation>
				<xs:documentation>
					physical unit for z-value used as parameter in the
					value table
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

</xs:schema>
